#player {
    /*borda*/
    position: absolute;
    display: block;
    border: blue solid 1px;
    border-radius: 25px;
    background-image: url("../assets/player.png");
    background-position: center center;
    background-size: 90%;
    background-repeat: no-repeat;
}