#player {
    /*borda*/
    position: absolute;      
    border: blue solid 1px;
    background-image: url("../assets/player.png");
    background-position: center -3px;
    background-size: 90%;
    background-repeat: no-repeat;
}