#player {
    /*borda*/
    position: absolute;      
    -border: blue solid 1px;
    background-image: url("../assets/charrador-side.png");
    -background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}